<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.mapper.SecretMapper">

    <resultMap id="BaseResultMap" type="com.neo.model.Secret">
        <id column="id" property="appId" jdbcType="VARCHAR"/>
        <result column="app_key" property="appKey" jdbcType="VARCHAR"/>
        <result column="app_secret" property="appSecret" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, app_key, app_secret
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM secrets
    </select>

    <select id="getOne" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM secrets
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.neo.model.Secret">
        INSERT INTO
        secrets
        (id, app_key, app_secret)
        VALUES
        (#{id}, #{appKey}, #{appSecret})
    </insert>

    <update id="update" parameterType="com.neo.model.Secret">
        UPDATE
        secrets
        SET
        <if test="appKey != null">app_key = #{appKey},</if>
        <if test="app_secret != null">app_secret = #{appSecret},</if>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM
        secrets
        WHERE
        id =#{id}
    </delete>

</mapper>